
@media screen and (max-width: 480px) { 
            .panel-Modelo5,
            .mapa,
            .mapa-conteudo,
            .container, 
            .container1{ 
                width: 100%; 
            } 
        }


.container {
    display: inline-block;
  
    margin-top:8%;
    margin-bottom: 5%;
    vertical-align: top;
    margin-right: 5%;
    
}
.container1 {
   display: inline-block;
   
   margin-top:5%;
   margin-bottom: 5%;
   vertical-align: top;
}


.panel-Modelo {
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background: linear-gradient(to bottom, rgba(0.1,0.1,0.1,0.1) 0%,rgba(0.6,0.6,0.6,0.6) 100%),url(../img/contato-fundo.jpg) no-repeat ;
    background-size: cover;
}

.panel-Modelo .title {
    color :#ffffff;
    font-family: montserrat;
    font-size: 2.0em;
    margin-bottom: 7%;
}
.panel-Modelo .parag {
    color :#ffffff;
    font-family: montserrat;
    font-size: 1.0em;
    margin-bottom: 4%;
}
.panel-Modelo .Modelo-description {
    font-family: montserrat;
    color :#ffffff;
    font-size: 1em;
}

.mapa {
    padding: 2em 0;
  
}
.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
}

.whats {
  position: relative;
  vertical-align: middle;
  background-size:cover;
}
.email {
  position: relative;  
  vertical-align: middle;
  background-size:cover;
}
