body{
	font-family: "Montserrat", sans-sans-serif;
}

.tituloCardapio {
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #8B0000;
}

.containerCardapio{
    width: 90%;
    margin: 10px auto;
	z-index: -1;
}

/*.painelCardapio .cardapio {*/
.painelCardapio {
    text-align: center;
}

.detalhes {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.texto {
	background-color: #b8b8b8;
	color: black;
	font-size: 1em;
	padding: 1em 2em;
	text-decoration: none;
}

.prato {
    display: inline-block;
	width: 30%;
	margin: 0 10px 16px 0;
	padding: 5px;
	z-index: -1;
}

.contentBotao {
    position: absolute;
	top: 10%;
	/* os príxmos dois atributos centralizam o texto dentro da imagem*/
    left: 85%;
    transform: translate(-50%, -50%);
	/*background: rgb(255, 255, 255); /* Fallback color */
    /*background: rgba(240, 240, 240, 0.7); /* Black background with 0.5*/
 }

.contentPrato {
    position: absolute;
	bottom: 0px;
	/* os príxmos dois atributos centralizam o texto dentro da imagem*/
    left: 50%;
    transform: translate(-50%, -50%);
	/*background: rgb(255, 255, 255); /* Fallback color */
    background: rgba(240, 240, 240, 0.7); /* Black background with 0.5*/
 }

.containerPrato{
	position: relative;
	background-color: rgb(240, 240, 240);
	z-index: -1;
}

.containerPrato a  {
	text-decoration: none;
}

.cardapio li {
	box-sizing: border-box;
}

.cardapio li:hover {
	color: #1010AA;
}

.cardapio li img {
	width: 90%;
	background-color: rgb(240, 240, 240);
}

/*.cardapio li img:hover {
	box-shadow: 0 0 2px 1px rgba(16, 16, 180, 0.5);
}
*/
.containerPrato:hover {
	box-shadow: 0 0 2px 1px rgba(16, 16, 180, 0.5);
}

.containerPrato:hover .detalhes{
	opacity: 1;
}

.cardapio h2 {
	font-size: 2em;
	font-weight: bold;
}

/* Esta propriedade faz com que o texto não seja cortado em mais de uma linha dentro da figura*/
.cardapioNome {
	white-space: nowrap;
}

@media (max-width: 980px) {
 	.painelCardapio .prato {
		 width: 100%;
   }
}
